@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

:root {
  --code-border: 1px solid #30363d;
  --code-bg: #f6f8fa;
}

* {
  font-family: "Fira Code VF", "Fira Code", monospace;
}

body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
}
#clipboard-input {
  margin-left: 5px;
  margin-right: 13px;
}
textarea {
  resize: none;
  margin-right: 50px;
  width: 100%;
  font-size: 14px;
  border: var(--code-border);
  border-radius: 6px;
  background: var(--code-bg);
}
#clipboard-content {
  margin-left: 5px;
  margin-right: 5px;
}
.clipboard {
  font-size: 14px;
  min-height: 200px;
  border: var(--code-border);
  border-radius: 6px;
  background: var(--code-bg);
  line-height: 140%;
  overflow-y: auto;
  overflow-wrap: break-word;
}
button {
  width: 100px;
  height: 30px;
  margin-top: 8px;
}
